.card-container {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
   padding: 10px;
}

.project-card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  height: auto; /* Allows cards to adjust to content */
  width: 90%;
  max-width: 400px;
  position: relative;
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: translateY(-5px);
}

.content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  height: auto;
  color: #041119;
  padding: 15px;
  transition: opacity 0.3s ease-in-out;
}

.project-card:hover .content {
  opacity: 1;
}

.content h2 {
  font-size: 1rem;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.content p {
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.content a {
  color: #007bff;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: bold;
}

.content a:hover {
  text-decoration: underline;
}

.head{
  color: #555;
}

.lable, .head {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.6;
  padding:0px 50px;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  .project-card {
    width: 100%; /* Makes cards take full width on smaller screens */
    max-width: 95%;
  }

  .content {
    height: auto;
    padding: 10px;
  }

  .content h2 {
    font-size: 0.9rem;
  }

  .content p {
    font-size: 0.8rem;
  }

  .content a {
    font-size: 0.8rem;
  }

  .lable, .head {
    font-size: 14px;
    letter-spacing: 1.5px;
    padding: 0px 30px;
  }
}

/* Extra Small Devices (Phones) */
@media (max-width: 480px) {
  .project-card {
    padding: 15px;
  }

  .content {
    padding: 8px;
  }

  .content h2 {
    font-size: 0.85rem;
  }

  .content p {
    font-size: 0.75rem;
  }

  .content a {
    font-size: 0.75rem;
  }

  .lable, .head {
    font-size: 13px;
    letter-spacing: 1px;
    padding:0px 30px;
  }
}
